.navBar{
    background-color: bisque;
    padding: 1rem;
}

.navBar-lists{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-inline: 0;
}

.navBar-list{
    margin: 0 1rem;
}

.navBar-list a{
    text-decoration: none;
}